flask
azure-ai-inference
azure-core
markdown
youtube-transcript-api
Pygments==2.17.2
openai
SpeechRecognition
pyaudio
pydub
ffmpeg-python
requests
google-generativeai
python-dotenv
langchain
langchain-core
langchain-community
langchain-google-genai
wikipedia
pymongo
